.btn{
    width: 200px;
    height: 40px;
    padding: 0 20px;
    display: block;
    clear: both;
    font-weight: 400;
    background: #304156;
    text-align: center;
    line-height: 1.42857143;
    white-space: nowrap;
    color: #99b1d4;
    border-radius: 3px;
    border: none;
}
